<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="../../public/css/main.css">
</head>
<body>

    <header>
          <nav class="navbar">
            <ul>
              <li class = "navHeader"> Stevens Eat With Me! </li>
              <li><a href="/landingPage/landingPage">Home</a></li>
              <li><a href="/diningList/diningList">Dining Facilities</a></li>
              <li><a href="/meetupPage/meetupPage">Meetups</a></li>
              <li>Profile</li> <!-- fix this when profile page is worked on **-->
            </ul>
          </nav>
    </header>
    <main>
        {{{body}}}
    </main>
    <footer>&copy; Copyright 2025</footer>

</body>

</html>