<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <link rel="stylesheet" href="/public/css/main.css">

</head>
<body>

    <header>
          <nav class="navbar">
            <ul>
              <li class = "navHeader"> Stevens Eat With Me! </li>
              <li><a href="/">Home</a></li>
              <li><a href="/diningList">Dining Facilities</a></li>
              <li><a href="/meetupPage">Meetups</a></li>
              <li><a href="/profile">Profile</a></li>
              <!-- Only show the ADMIN PAGE button if the user is an admin -->
              {{#if isAdmin}}
                <li><a href="/admin">Admin Page</a></li>
              {{/if}}
              <!-- Only show the SIGN OUT button if the user is logged in -->
              {{#if isLoggedIn}}
                <li><a href="/users/logout">Log Out</a></li>
              {{/if}}
            </ul>
          </nav>
    </header>
    <main>
        {{{body}}}
    </main>

    <footer>&copy; Copyright 2025</footer>

<!-- ONLY INCLUDE THIS IN PARTIALS THAT USE JQUERY -->
<!-- <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script> -->
{{#if partial}}
{{> (lookup . 'partial')}}
{{/if}}

</body>

</html>
