<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>My Site</title>
    <link rel="stylesheet" href="/public/css/main.css">
</head>
<body>

    <header>
        <p>EatWithMe: The premier Stevens dining application</p>
    </header>

    <p>The One Stop Shop For Stevens Dining Information!</p>
    <main>
        {{{body}}}
    </main>
    <footer>Copyright 2025</footer>

</body>

</html>