<article class="landingPage">
    <div class = "landingBox">
        <p><a href="/users/signup">Signup</a></p> <!--make this hidden if theyre already logged in and give them a user profile they can click on or just disappear-->
        <p><a href="/users/login">Login</a></p>
    </div>

</article>
<div id = "restaurants">
    <h1> Top Dining Options </h1>


    {{#each topRestaurants}}
    <div class = "restaurant_box" >
        <img src = {{this.imageURL}} class = "restaurant_img" alt = {{this.name}} >
        <h2>{{this.name}}</h2>
        
        <ul>
            {{#each menuItems}}
            <li>{{name}}</li>
            {{/each}}
        </ul>
    </div>
    {{/each}}
</div>

<footer>
    <p>Authors: Alexander Lupia, Andrew Staniaszek, Jack Nolan, Jenn Alexander
    </p>
</footer>
