<article class="verifyEmailPage">
    <h1>
        We've sent a verification email to {{email}}.
        Please check your inbox to verify your account - it might take a few minutes to arrive. 
        And don't forget to check your spam or junk folder just in case!</h1>
        <a href="/users/login">Log In</a>
</article>