<article class="verifyEmailPage">
    <h1>
        A verification email has been sent to {{email}}.
        Please check your email to verify your account!</h1>
    <!-- Link to all of your reviews -->
</article>