<article class="verifyEmailPage">
    <h1>
        A verification email has been sent to {{email}}.
        Please check your email to verify your account!</h1>
        <a href="/users/login">Log In</a>
</article>